In [79]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [80]:
df=pd.read_csv("stud.csv")

In [81]:
x=df.drop(columns=["math_score"],axis=1)
x

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [82]:
y=df["math_score"]

In [83]:
num_feature=x.select_dtypes(exclude='object').columns
cat_feature=x.select_dtypes(include='object').columns

In [84]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numerical_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_feature),
        ("StandardScaler",numerical_transformer,num_feature)
    ]
)

In [85]:
xT=preprocessor.fit_transform(x)
xT.shape

(1000, 19)

In [86]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(xT,y,test_size=0.25,random_state=42)

In [87]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [92]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


def evaluate_model(true, predict):
    mae = mean_absolute_error(true, predict)
    mse = mean_squared_error(true, predict)
    rmse = np.sqrt(mse)
    r2 = r2_score(true, predict)
    return mae, rmse, r2

In [89]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

In [90]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

In [97]:
from sklearn.metrics import mean_squared_error, r2_score

model_list = []
r2_list = []
model_scores = {}

for name, model in models.items():
    # Train the model
    model.fit(x_train, y_train)

    # Predictions
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    # Evaluate Train and Test dataset
    model_train_r2 = r2_score(y_train, y_train_pred)
    model_test_r2 = r2_score(y_test, y_test_pred)

    model_train_mse = mean_squared_error(y_train, y_train_pred)
    model_test_mse = mean_squared_error(y_test, y_test_pred)

    # Store model name and R2 score
    model_list.append(name)
    r2_list.append(model_test_r2)

    # Store all scores in dictionary
    model_scores[name] = {
        "Train_R2": model_train_r2,
        "Test_R2": model_test_r2,
        "Train_MSE": model_train_mse,
        "Test_MSE": model_test_mse
    }

    # Print performance
    print(f"Model: {name}")
    print("Model performance for training set")
    print("RMSE : {:.4f}".format(model_train_mse))
    print("R2 score : {:.4f}".format(model_train_r2))
    print("Model performance for Test set")
    print("RMSE : {:.4f}".format(model_test_mse))
    print("R2 score : {:.4f}".format(model_test_r2))
    print("-" * 40)

Model: Linear Regression
Model performance for training set
RMSE : 28.0608
R2 score : 0.8743
Model performance for Test set
RMSE : 30.0581
R2 score : 0.8778
----------------------------------------
Model: Lasso
Model performance for training set
RMSE : 42.9223
R2 score : 0.8077
Model performance for Test set
RMSE : 44.2775
R2 score : 0.8200
----------------------------------------
Model: Ridge
Model performance for training set
RMSE : 28.0642
R2 score : 0.8743
Model performance for Test set
RMSE : 30.0173
R2 score : 0.8780
----------------------------------------
Model: K-Neighbors Regressor
Model performance for training set
RMSE : 33.5475
R2 score : 0.8497
Model performance for Test set
RMSE : 50.8760
R2 score : 0.7932
----------------------------------------
Model: Decision Tree
Model performance for training set
RMSE : 0.0833
R2 score : 0.9996
Model performance for Test set
RMSE : 54.6200
R2 score : 0.7780
----------------------------------------
Model: Random Forest Regressor
Model performance for training set
RMSE : 5.3436
R2 score : 0.9761
Model performance for Test set
RMSE : 37.3479
R2 score : 0.8482
----------------------------------------
Model: XGBRegressor
Model performance for training set
RMSE : 0.7714
R2 score : 0.9965
Model performance for Test set
RMSE : 40.2765
R2 score : 0.8363
----------------------------------------
Model: CatBoosting Regressor
Model performance for training set
RMSE : 8.6697
R2 score : 0.9612
Model performance for Test set
RMSE : 35.7154
R2 score : 0.8548
----------------------------------------
Model: AdaBoost Regressor
Model performance for training set
RMSE : 32.9271
R2 score : 0.8525
Model performance for Test set
RMSE : 38.3937
R2 score : 0.8439
----------------------------------------

linear Regression gives best result